@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kdam+Thmor+Pro&family=Roboto+Slab:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro&family=Stylish&display=swap');

*{
    margin:0;
    padding:0;
    transition:0.5s;
    box-sizing:border-box;
}

.events .container{

    position: relative;
    top: 30vh;
    width:100vw;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(0, 0, 0); */
    margin-top: 100px;
}
.events .container .top-content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border: 2px solid rgb(135, 132, 132);
    border-radius: 2rem;
    background-color: rgb(255, 191, 168);
    margin: 10px 0;
}
.events .container .top-content p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 1px;
}
.events .container .middle-content{
    width: 90%;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    /* border: 2px solid rgb(135, 132, 132); */
    border-radius: 2rem;
    /* background-color: rgb(255, 191, 168); */
    margin: 10px 0;
}
.events .container .middle-content .image{
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(135, 132, 132); */
    margin: 15px 0;
    border-radius: 5px;
    overflow: hidden;
}
@media screen and (max-width:600px){
    .events .container .middle-content .image{
        height: 300px;

    }
}
.events .container .middle-content .image img{
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(136, 52, 52); */
    border-radius: 5px;
    object-fit: cover;
}
.events .container .middle-content .image .title{
    position: absolute;
    top: 0%;
    left: 90%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 255, 47);
}
.events .container .middle-content .image .title:hover{
    cursor: pointer;
    left: 20%;
}
/* @media screen and (max-width: 800px) {
    .events .container .middle-content .image .title:hover{
        cursor: pointer;
        top: 65%;
    }
  } */
.events .container .bottom-content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}
.events .container .bottom-content button{
    color: rgb(255, 96, 96);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    padding: 10px 100px;
    border-radius: 2rem;
    background-color: rgb(177, 255, 229);
}
.events .container .bottom-content button:hover{
    cursor: pointer;
    background-color: rgb(173, 255, 47);
}