/* Imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Roboto+Slab:wght@200&family=Roboto:ital,wght@0,100;1,100&family=Source+Sans+Pro&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Roboto+Slab:wght@200&family=Roboto:ital,wght@0,100;1,100&family=Source+Sans+Pro&family=Stylish&display=swap');

/* General property */
*{
    margin:0;
    padding:0;
    transition:0.5s;
    box-sizing:border-box;
}

.principal .container{

    position: relative;
    top: 50vh;
    width:100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 223, 223);
    border-bottom: 2px solid rgb(251, 123, 80);
    margin-top: 100px;
}
.principal .container .top-content{
    position: relative;
    width: 70%;
    height: 50%;
    top: -15%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.principal .container .top-content img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border: 2px solid gray;
    box-shadow:  2px   2px  20px  rgb(207, 196, 196),
                -2px   2px  20px  rgb(207, 196, 196),
                 2px  -2px  20px  rgb(207, 196, 196),
                -2px  -2px  20px  rgb(207, 196, 196);
    border-radius: 1rem;
}
.principal .container .bottom-content{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.principal .container .bottom-content p{
    /* letter-spacing: 1px; */
    font-family: 'Kaushan Script', cursive;
    padding: 10px;
}
.principal .container .bottom-content span{
    font-size: 1.2rem;
    color: rgb(232, 58, 154);
}
.principal .container .bottom-content .name{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.5rem;
    border-bottom: 4px solid rgb(252, 111, 175);
    padding: 10px;
}
@media screen and (max-width:700px){
    .principal .container .top-content{
        width: 90%;
        height: 40%;
    }
    .principal .container .bottom-content .name{
    font-size: 1.4rem;
    }
}